<html>

  <head>
    {% load static %}
    <link rel= "stylesheet" href="{%static 'catalog/style_list.css'%}">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans" rel="stylesheet" type="text/css">
    
    {% block content %}

    <h1>Book List</h1>
    
    <body>

      {% if book_list %}
        <ul>

          {% for book in book_list %}
            <li>
              <a href="{{ book.get_absolute_url }}">{{ book.title }}</a> ({{book.author}})
            </li>
          {% endfor %}

        </ul>
      {% else %}
       <p>There are no books in the library.</p>
      {% endif %}

    </body>

    {% endblock %}

  </header>

</html>
